<section>
	<!-- <div>{{dbc.settings.charts}}</div> -->
	<!-- <div>{{dbc.settings.charts}}</div> -->
	<div ng-repeat="item in dbc.settings.charts">
		<h2 class="text-center">{{item.title}}</h2>
		<!-- <div>{{dbc.charts[item.name].datas}} {{dbc.charts[item.name].labels}}  {{item.name}}</div> -->
	<div ng-switch on="item.charttype">
		<div ng-switch-when="line">
			<canvas data="dbc.charts[item.name].datas" class="chart chart-line" labels="dbc.charts[item.name].labels" options="dbc.charts[item.name].chartoptions" series="dbc.charts[item.name].series"></canvas>
		</div>
		<div ng-switch-when="bar">
			<canvas data="dbc.charts[item.name].datas" class="chart chart-bar" labels="dbc.charts[item.name].labels" options="dbc.charts[item.name].chartoptions" series="dbc.charts[item.name].series" legend="{{item.legend}}"></canvas>
		</div>
		<div ng-switch-when="pie">
			<canvas data="dbc.charts[item.name].datas" class="chart chart-pie" labels="dbc.charts[item.name].labels" options="dbc.charts[item.name].chartoptions" series="dbc.charts[item.name].series"></canvas>
		</div>
	</div>
	</div>
</section>