﻿
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<form name="editForm"  class="form-horizontal print-hidden" ng-submit="ok()" novalidate>
<div class="modal-body">
        <div ng-repeat="field in fieldSettings" class="form-group" ng-if="field.edit || type" ng-class="{ 'has-error': editForm[field.label].$invalid }">
            <label for="{{field.label}}" class="col-sm-2 control-label"> {{field.label}} </label>
            <div class="col-sm-10">
                <div class="col-sm-10">
                <!-- the text input fields -->
                    <input name='{{field.label}}' compare-to compare="{{field.compareTo}}" item="item" ng-if="field.type!='file' && field.type!='search' && field.type!='select' && field.type!='textarea' &&
                    field.type!='list'" type="{{field.type}}" ng-model="item[field.model]" ng-class="{'form-control':field.type!='checkbox'}" placeholder="{{field.placeholder}}" ng-disabled="field.disable" ng-required="{{field.required}}">

                    <textarea ng-disabled="field.disable" name='{{field.label}}' cols="{{field.col || 30}}" rows="{{field.row || 3}}" ng-if="field.type == 'textarea'" placeholder="{{field.placeholder}}" ng-model="item[field.model]" class="form-control" ng-required="{{field.required}}"></textarea>
                    <!-- the dropdown controller -->
                    <select name='{{field.label}}' ng-if="field.type=='select' && field.multiple" size='{{field.size || 10}}' multiple class="form-control" ng-model="item[field.model]" ng-options="value[field.key] as value[field.value] for value in getSelectedData(field.data,field.listName,field.url)" ng-disabled="field.disable" ng-required="{{field.required}}">
                    </select>
                    <select name='{{field.label}}' ng-disabled="field.disable" ng-if="field.type=='select' && !field.multiple" class="form-control" ng-model="item[field.model]" ng-options=" (field.key ? value[field.key]:value) as value[field.value] for value in getSelectedData(field.data,field.listName,field.url)" ng-required="{{field.required}}">
                        <option value='' ng-disabled="!field.placeholderEnable" selected="selected">{{field.placeholder}}</option>
                    </select>

                    <!-- the search controller -->
                    <div name='{{field.label}}' auto-search ng-if="field.type=='search'" model="item[field.model]" url="{{field.url}}" placeholder="{{field.placeholder}}" limitation="{{field.limit || 10}}" key="{{field.key}}" value="{{field.value}}" result-template="{{field.resultTemplateUrl}}" callback="field.onSelect" method="{{field.method}}" delay="{{field.delay || 300}}" require="{{field.required}}" multiple="{{field.multiple}}" formatter="field.formatter" cuitem="item" field="fieldSettings" ng-disabled="field.disable">

                    </div>

                    <p ng-if="editForm[field.label].$error.required" class="help-block">{{field.label}} is required</p>
                    <p ng-if="editForm[field.label].$error.compareTo" class="help-block">{{field.label}} and {{field.compareTo}} is not matched</p>

                    <div ng-init='watchModelValid(field, editForm)' ng-if="field.type=='list'">
                            <input type="hidden" ng-model="cu.item[field.model]"
                            ng-required="field.required" name="{{field.label}}" value="">
                            <li ng-repeat="list in item[field.model] track by $index" class="multisearchitem">{{field.show(list)}}
                                <a href="" ng-click="sc.removeFromList($index)" class="remove-button">x</a>
                            </li>
                            <div ng-if="field.options" class="pull-right">
                                <button type="button" ng-repeat="option in field.options" ng-click="option.action(item, popupServ, crudServ)" class="btn {{option.class}}">{{option.text}}</button>
                            </div>

                    </div>

				</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
