<!-- the tab in the page -->
<section class="page-wrap">
    <h4 class="text-danger" ng-if="!cu.settings.permissions.all(User)">Permission Denied</h4>
    <tabset ng-if="cu.settings.permissions.all(User)">
        <!-- define the tabs -->
        <!-- the view tab
        the head of the table -->
        <tab heading="{{cu.settings.title}}" active="cu.modelActive" ng-if="cu.settings.permissions.get(User)">
            <div class="table-responsive" infinite-scroll='cu.getNext()' infinite-scroll-distance='5'>
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th ng-if="cu.settings.index">{{cu.settings.index}}</th>
                            <th ng-repeat="head in cu.settings.views">{{head.head}}</th>
                            <th ng-if="cu.settings.permissions.update(User) || cu.settings.permissions.delete(User)">Option</th>
                        </tr>
                    </thead>
                    <!-- the body of the table which contain the data -->
                    <tbody>
                        <tr ng-repeat="item in cu.list track by $index">
                            <td ng-if="cu.settings.index">{{$index+1}}</td>
                            <td ng-repeat="view in cu.settings.views">
                                <div ng-if="view.expression"> {{view.expression(item)}} </div>
                                <div ng-if="!view.expression"> {{item[view.view]}}</div>
                            </td>
                            <td>
                                <button ng-if="cu.settings.permissions.update(User, item)" class="btn btn-primary" ng-click="cu.openEditItemModal(item)">Edit</button>
                                <button ng-if="cu.settings.permissions.delete(User, item)" class="btn btn-danger" execution-confirm confirm-func="cu.delete(item)">Delete</button>
                                <button ng-if="cu.settings.permissions.update(User, item)" ng-repeat="option in cu.settings.options" ng-click="option.action(item, cu.popupServ, cu.crudServ, cu.list)" class="btn {{option.class}}">{{option.text}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <!-- create tab  -->
        <tab ng-if="cu.settings.permissions.create(User)" heading="Create {{cu.settings.title}}">
            <form name="cu.createForm" ng-submit="cu.settings.submit(cu.item, cu.list, cu.crudServ, cu.settings.fields) || cu.createSubmit(cu.item, cu.settings.preSubmit, cu.settings.postSubmit)" class="form-horizontal print-hidden" novalidate>
                <div ng-repeat="field in cu.settings.fields" class="form-group" ng-class="{ 'has-error': cu.createForm[field.label].$invalid }">
                    <label for="{{field.label}}" class="col-sm-2 control-label"> {{field.label}} </label>
                    <div class="col-sm-10">
                        <!-- the text input fields -->
                        <input name='{{field.label}}' compare-to compare="{{field.compareTo}}" item="cu.item" ng-if="field.type!='file' && field.type!='search' && field.type!='select' && field.type!='textarea' && field.type!='list' " type="{{field.type}}" ng-model="cu.item[field.model]" ng-class="{'form-control':field.type!='checkbox'}" placeholder="{{field.placeholder}}" ng-disabled="field.disable" ng-required="{{field.required}}">
                        <textarea ng-disabled="field.disable" name='{{field.label}}' cols="{{field.col || 30}}" rows="{{field.row || 3}}" ng-if="field.type == 'textarea'" placeholder="{{field.placeholder}}" ng-model="cu.item[field.model]" class="form-control" ng-required="{{field.required}}"></textarea>
                        <!-- the dropdown controller -->
                        <select name='{{field.label}}' ng-disabled="field.disable" ng-if="field.type=='select' && field.multiple" multiple="multiple" class="form-control" ng-model="cu.item[field.model]" ng-options="value[field.key] as value[field.value] for value in cu.getSelectedData(field.data,field.listName,field.url)" ng-required="{{field.required}}" ng-attr-size="{{field.selectSize || 10}}" style='height: 100%;'>
                        </select>
                        <select name='{{field.label}}' ng-disabled="field.disable" ng-if="field.type=='select' && !field.multiple" class="form-control" ng-model="cu.item[field.model]" ng-options="value[field.key] as value[field.value] for value in cu.getSelectedData(field.data,field.listName,field.url)" ng-required="{{field.required}}">
                            <option value='' ng-disabled="!field.placeholderEnable" selected="selected">{{field.placeholder}}</option>
                        </select>
                        <!-- the search controller -->
                        <div name='{{field.label}}' auto-search ng-if="field.type=='search'" model="cu.item[field.model]" url="{{field.url}}" placeholder="{{field.placeholder}}" limitation="{{field.limit || 10}}" key="{{field.key}}" value="{{field.value}}" result-template="{{field.resultTemplateUrl}}" callback="field.onSelect" method="{{field.method}}" delay="{{field.delay || 300}}" require="{{field.required}}" multiple="{{field.multiple}}" formatter="field.formatter" cuitem='cu.item' field='cu.settings.fields' ng-disabled="field.disable">
                        </div>
                        <p ng-if="cu.createForm[field.label].$error.required" class="help-block">{{field.label}} is required</p>
                        <p ng-if="cu.createForm[field.label].$error.compareTo" class="help-block">{{field.label}} and {{field.compareTo}} is not matched</p>
                        <div ng-init='cu.watchModelValid(field, cu.createForm)' ng-if="field.type=='list'">
                          <input type="hidden" ng-model="cu.item[field.model]"
                          ng-required="field.required" name="{{field.label}}" value="">
                            <li ng-repeat="list in cu.item[field.model] track by $index" class="multisearchitem">{{field.show(list)}}
                                <a href="" ng-click="cu.removeFromList($index, cu.item[field.model])" class="remove-button">x</a>
                            </li>
                            <div ng-if="field.options" class="pull-right">
                                <button ng-if="option.permission(User)" type="button" ng-repeat="option in field.options" ng-click="option.action(cu.item, cu.popupServ, cu.crudServ)" class="btn {{option.class}}">{{option.text}}</button>
                            </div>
                        </div>
                        <div ng-if="field.extracts" class="pull-right">
                            <button ng-if="option.permission(User)" type="button" ng-repeat="option in field.extracts" ng-click="option.action(cu.popupServ, cu.crudServ)" class="btn {{option.class}}">{{option.text}}</button>
                        </div>
                    </div>
                </div>
                <button ng-if="cu.settings.permissions.create(User)" type="submit" class="btn btn-success" ng-disabled="cu.createForm.$invalid">Submit</button>
                <button type="button" class="btn {{extend.class}}" ng-repeat='extend in cu.settings.extend' ng-disabled='extend.validate ? cu.createForm.$invalid:false' ng-click='extend.action(cu.item, cu.crudServ, cu.list,cu)'>
                  {{extend.text}}
                </button>
            </form>
        </tab>
    </tabset>
</section>
