<div>
	home page {{test}}
</div>

<input class="form-control" type="text" ng-model="x" />
<div>
    {{x}}
</div>
<div class="container" ng-controller="LoginCtrl as au">
	<div class="btn btn-default btn-danger" ng-click="au.logout('/auth/api/v1/logout/')">Logout</div>

	<div ng-bind-html="au.test"></div>
</div>
