<section>

  <form class="signform" name="signinForm" novalidate>
    <h2>
      Sign In
    </h2>
    <div class="content">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" ng-model="au.user.email" class="form-control" id="UserName" placeholder="Enter UserName (Required)" Required autofocus >
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input ng-model="au.user.password" name="password" type="password" class="form-control" id="Password" placeholder="Password" Required>
      </div>

      <button type="submit" ng-click="au.authenticate('/auth/api/v1/auth/')" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>
</section>
    <div ng-bind-html="au.error"></div>