<!-- <div>
	home page {{test}}
</div>

<section ng-controller="LoginCtrl as au">
	<div class="btn btn-default btn-danger" ng-click="au.logout('/auth/api/v1/logout/')">Logout</div>

	<div ng-bind-html="au.test"></div>
</section>
<div>hi</div>
<div>hi</div>
<div>
	<!-- <testd3></testd3> -->
	<!-- <canvas id="testingcanvas"></canvas> -->
	<!-- <img src="localhost:8000/media/profiles/almaali.jpeg"> -->
<!-- </div>
<div ng-controller="DashBoardCtrl as dbc">
	<div ng-switch="dbc.type">
		<div ng-switch-when="line">
			<canvas id="test" data="dbc.datas" class="chart chart-line" labels="dbc.labels" options="dbc.options"></canvas>
		</div>
		<div ng-switch-when="bar">
			<canvas data="dbc.datas" class="chart chart-bar" labels="dbc.labels" options="dbc.options"></canvas>
		</div>
	</div>
</div> -->
test