<div class="modal-header">
    <h3 class="modal-title">Delete {{cu.settings.name}}</h3>
</div>
<form name"editform" class="form-horizontal">

	<div class="modal-body">
		<pre class="alert alert-danger">Deleteting {{cu.item[cu.settings.print]}}</pre>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" ng-click="close()">Close</button>
	    <button class="btn btn-danger pull-right" ng-click="save()">Delete</button>
	</div>
</form>

	