<div class="modal-header">
    <h3 class="modal-title">Edit {{cu.settings.name}}</h3>
</div>
<form name="editform" ng-submit="save()" class="form-horizontal">

	<div class="modal-body">
		<div class="form-group" ng-repeat="field in cu.settings.fields">
				<label class="col-sm-2 control-label" for="{{field.name}}" ng-if="field.label && field.edit">{{field.label}}</label>
				<div class="col-sm-10" ng-if="!field.select && field.edit && field.type!='textarea'">
					<input type="{{field.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" ng-model="cu.edititem[field.model]" ng-required="{{field.required}}">
				</div>
    			<div class="col-sm-10" ng-if="!field.select && field.type=='textarea' && field.edit">
    				<textarea type="{{field.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" ng-model="cu.item[field.model]" rows="3" ng-required="{{field.required}}"></textarea>
    			</div>
			<div class="col-sm-8" ng-if="field.select && field.edit">
				<select class="form-control" name="{{field.name}}" ng-model="cu.edititem[field.model]" infinite-scroll="cu.selectarray(field)" infinite-scroll-distance="5" placeholder="{{field.placeholder}}" ng-options="selection[field.value] as selection[field.displayname] for selection in cu.lists[field.name]" ng-init="cu.edititem[field.model] = searching(cu.edititem[field.model],cu.lists[field.name] , field.value)" ng-required="{{field.required}}">
					<!-- <option value="" disabled selected style="display: none;">{{field.placeholder}}</option> -->
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" ng-click="close()">Close</button>
	    <button class="btn btn-success pull-right" type="submit"  ng-disabled="editform.$invalid">Save</button>
	</div>
</form>

	