<h4 ng-if="!User.is_admin && cu.permissions && !cu.getvalue(User,cu.permissions+'.get') && !cu.getvalue(User,cu.permissions+'.add')&& !cu.getvalue(User,cu.permissions+'.edit')&& !cu.getvalue(User,cu.permissions+'.delete')" class="text-danger"> Permission is Denied</h4>
<!-- {{User}} -->
<tabset ng-if="!(!User.is_admin && cu.permissions && !cu.getvalue(User,cu.permissions+'.get') && !cu.getvalue(User,cu.permissions+'.add')&& !cu.getvalue(User,cu.permissions+'.edit')&& !cu.getvalue(User,cu.permissions+'.delete'))">

    <tab ng-if="User.is_admin || !cu.permissions || cu.getvalue(User,cu.permissions+'.get')" heading="{{cu.settings.name}}" active="cu.modelactive">
    	<div class="row hidden-print top-pound" infinite-scroll="cu.scrolldata()" infinite-scroll-distance="5" ng-if="cu.list.length>0">
			<div class="table-responsive col-sm-12">
				<table class="table table-striped table-bordered">
					<caption class="text-center">{{cu.settings.name}}</caption>
				    <thead>
				      <tr>
				        <th ng-if="cu.settings.num">No</th>
				        <th ng-repeat="head in cu.settings.views">{{head.head}}</th>
				        <th>Options</th>
				      </tr>
				    </thead>
				    <tbody >
				      <tr ng-repeat="item in cu.list track by $index ">
				      	<td ng-if="cu.settings.num">{{$index+1}}</td>
				        <td ng-repeat="view in cu.settings.views"><p ng-if="!view.file">{{view.nested ? cu.getvalue(item,view.key):item[view.view]}}<p><img ng-if="view.file" ng-src="{{item[view.view]}}" alt="" class="img-responsive" style="max-height:{{view.height}}"></td>
				        <td><button ng-if="User.is_admin || !cu.permissions || cu.getvalue(User,cu.permissions+'.edit')" type="button" class="btn btn-primary hidden-print" ng-click="cu.edititem(item)">Edit</button> <button ng-if="User.is_admin || !cu.permissions || cu.getvalue(User,cu.permissions+'.delete')" class="btn btn-danger hidden-print" ng-click="cu.removeditem(item)">Delete</button>
			        	<!-- <button type="button" class="btn btn-default hidden-print" ng-click="ord.printorder(item)">Print</button></td> -->
				      </tr>
				      
				    </tbody>
				  </table>    	
			  </div>
		</div>
    </tab>
    <tab ng-if="User.is_admin || !cu.permissions || cu.getvalue(User,cu.permissions+'.add')" heading="Create {{cu.settings.name}}" active="cu.createactive">
    	<form name="createform" class="form-horizontal" ng-submit="cu.formsubmit()" novalidate>
	    	<div ng-repeat="field in cu.settings.fields">
	    		<div class="form-group" ng-class="{ 'has-error' : createform[field.name].$invalid && createform[field.name].$pristine }">
	    			<label class="col-sm-2 control-label" for="{{field.name}}" ng-if="field.label">{{field.label}}</label>
	    			<div class="col-sm-10" ng-if="!field.select && field.type!='textarea' && !field.file">
	    				<input type="{{field.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" ng-model="cu.item[field.model]" ng-required="{{field.required}}">
	    				<p class="help-block" ng-if="createform[field.name].$error.required">{{field.label}} is Required</p>
	    			</div>
	    			<div class="col-sm-10" ng-if="!field.select && field.type=='textarea' && !field.file">
	    				<textarea type="{{field.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" ng-model="cu.item[field.model]" rows="3" ng-required="{{field.required}}"></textarea>
	    				<p class="help-block" ng-if="createform[field.name].$error.required">{{field.label}} is Required</p>

	    			</div>
	    			<div class="col-sm-10" ng-if="!field.select && field.type!='textarea' && field.file">
	    				<input type="{{field.type}}" placeholder="{{field.placeholder}}" fileread="cu.item[field.model]" rows="3" ng-required="{{field.required}}">
	    				<p class="help-block" ng-if="createform[field.name].$error.required">{{field.label}} is Required</p>
	    			</div>
		    		<!-- </div> -->
		    		<div class="col-sm-8" ng-if="field.select">
		    			<select class="form-control" name="{{field.name}}" ng-model="cu.item[field.model]" infinite-scroll="cu.selectarray(field)" infinite-scroll-distance="5" placeholder="{{field.placeholder}}" ng-options="selection[field.value] as selection[field.displayname] for selection in cu.lists[field.name]" ng-required="{{field.required}}">
		    				<option value="" disabled selected style="display: none;">{{field.placeholder}}</option>
		    			</select>
	    				<p class="help-block" ng-if="createform[field.name].$error.required">{{field.label}} is Required</p>
		    		</div>
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<div class="col-sm-offset-2 col-sm-10">
			    	<button type="submit" class="btn btn-success form-control" ng-disabled="createform.$invalid">Save</button>
		    	</div>
	    	</div>
    	</form>
    </tab>		

</tabset>

<!-- 			  <div class="row text-center" ng-hide="ord.sendstate">
			  	<div class="col-sm-12">
				  	<i class="fa fa-2x fa-spin fa-spinner"></i>
			  	</div>
			  </div>
 -->		