<section id="sidebar" class="navbar-inverse navbar-fixed pull-left" role="navigation">
    <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
    <!-- user -->
    <div class="navbar">
        <ul class="navbar-nav nav in">
            <li ui-sref-active="active" ng-class="{'dropdown': item.dropDown, 'open':side.show[item.name]}" ng-repeat="item in side.settings">
                <a ng-if="!item.dropDown" ui-sref="{{item.state}}"><i class="fa fa-fw" ng-class="item.icon"></i> {{item.text}}</a>
                <a href="javascript:" ng-if="item.dropDown" ng-click="side.show[item.name]=!side.show[item.name]"><i class="fa fa-fw" ng-class="item.icon"></i>{{item.text}}

                <b ng-if="item.dropDown" class="fa fa-fw pull-right" ng-class="{'fa-caret-down': !side.show[item.name], 'fa-caret-up': side.show[item.name]}"></b>
                </a>
                <ul ng-if="item.dropDown" class="dropdown-menu">
                    <li ui-sref-active="active" ng-repeat="liItem in item.dropDown">
                      <a ui-sref="{{liItem.state}}"><i class="fa fa-fw" ng-class="liItem.icon"></i> {{liItem.text}}</a>
                    </li>
                </ul>
            </li>
            <!--        <li class="dropdown" ng-class="{'open':head.showUInfo}">
            <a href="javascript:" class="dropdown-toggle" ng-click="head.showUInfo = !head.showUInfo">{{User.fullname || User.email}}<b class="caret"></b></a>
                <ul class="dropdown-menu" ng-controller="userCtrl as us">
                    <li><a href="javascript:" ng-click="us.logout()">logout</a></li>
                </ul>
            </li>
            <li class="dropdown" ng-class="{'open':head.showUInfo}">
                <a href="javascript:" class="dropdown-toggle" ng-click="head.showUInfo = !head.showUInfo">{{User.fullname || User.email}}<b class="caret"></b></a>
                <ul class="dropdown-menu" ng-controller="userCtrl as us">
                    <li><a href="javascript:" ng-click="us.logout()">logout</a></li>
                </ul>
            </li>
            <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li> -->
        </ul>
    </div>
    <!-- / aside footer -->
</section>
