{% load staticfiles %}
<html ng-app="pharmacy">
<head>
	<title ng-bind="pagetitle"></title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<!-- css files -->
	<link rel="stylesheet" media="all" href="{% static 'libs/css/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" media="all" href="{% static 'libs/css/pharmacy.css' %}" />
	<link rel="stylesheet" media="all" href="{% static 'libs/css/angular-chart.css' %}" />
	<link rel="stylesheet" media="all" href="{% static 'libs/css/font-awesome/css/font-awesome.min.css' %}" />

	<!-- libs js -->
	<script type="text/javascript" src="{% static 'libs/js/chartjs.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/angular-cookies.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/angular-sanitize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/angular-resource.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/ui-bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/ui-router.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/infinite-scroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/angular-chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/js/oclazyload.min.js' %}"></script>

<!--
	<script type="text/javascript" src="{% static 'libs/js/d3js.min.js' %}"></script>

 -->

	<!-- controllers js -->
	<script type="text/javascript" src="{% static 'app/controllers/authctrl.js' %}"></script>
	<script type="text/javascript" src="/static/app/controllers/crudctrl.js"></script>
	<script type="text/javascript" src="{% static 'app/controllers/dashboardctrl.js' %}"></script>


	<!-- services js -->
<!--
	<script type="text/javascript" src="{% static 'app/services/authserv.js' %}"></script>
 -->
	<script type="text/javascript" src="{% static 'app/services/crudserv.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/services/dashboardserv.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/services/pharmacysettingsserv.js' %}"></script>

	<!-- directives -->
	<script type="text/javascript" src="{% static 'app/directives/cruddirectives.js' %}"></script>
<!--
	<script type="text/javascript" src="{% static 'app/directives/chartsdirectives.js' %}"></script>

 -->	<!-- graphics -->


	<!-- app js -->

	<script type="text/javascript" src="{% static 'app/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/test.js' %}"></script>

	<base href="/" />

</head>
<body>
<!--
 -->	<div class="container" data-ui-view></div>
	<p></p>
</body>
</html>
