
<section>
	
	<nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="head.navCollapsed = true" ng-click="head.navCollapsed = !head.navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{head.settings.title}}</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="{'in':!head.navCollapsed}">
      
        <ul class="nav navbar-nav navbar-right" ng-if="head.settings.urls">
          <li ui-sref-active="active" ng-repeat="item in head.settings.urls"><a ui-sref="{{item.state}}">{{item.name}}</a></li>

          
          <li class="dropdown" ng-class="{'open':head.showUInfo}">
            <a href="javascript:" class="dropdown-toggle" ng-click="head.showUInfo = !head.showUInfo">{{User.username}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ng-click="us.logout()">logout</a></li>
            </ul>
          </li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

</section>
